/*====================== AEM =======================*/
/* Common */
div.image {
    margin-bottom: 0;
    overflow: hidden;
}

iframe{border: none;}

div.image img {
    display: block;
}
div.image small {
    display: block;
}
p {
    margin: 0;
}
video {
	width:0;
    height:0;
}

/* End Common */
/* Article Page */
.content-blog div.text {
	color:#6d6e71;
}
.content-blog div.image {
    padding: 40px 0 30px 0;
    max-width: 100%;
	width:auto;
}
/* End Article Page */
/*====================== End AEM =======================*/
