<button role="button" class="sign-up-module__go-back" tabindex="0">&lt;&nbsp;Back</button>
<span id="sign-up-module__error-email2" class="error sign-up-module__error-email" aria-live="assertive">Please enter a valid email address.</span>
<span id="sign-up-module__error-names2" class="error sign-up-module__error-names" aria-live="assertive">Please enter your first and last name</span>
<span id="sign-up-module__error-server2" class="error sign-up-module__error-server" aria-live="assertive">Sorry, signups aren't working. Try again later.</span>

<div class="sign-up-module__mask">
  <form class="sign-up-module__form" autocomplete="off" novalidate="" action="" method="POST">
    <div class="sign-up-module__steps">
      <div class="sign-up-module__step1">
        <label for="email2" class="visually-hidden">Sign up to our email list. Email address</label>
        <input class="sign-up-module__email" type="email" name="q" id="email2" maxlength="256" placeholder="Enter your email address" autocomplete="off" aria-required="true" required="required">
        <button aria-label="Next" class="sign-up-module__next" type="button">
          Next
        </button>
      </div>
      <div class="sign-up-module__step2">
        <label for="first-name2" class="visually-hidden">First name</label>
        <input class="sign-up-module__first-name" type="text" name="q" id="first-name2" maxlength="256" placeholder="First name" autocomplete="off" aria-required="true" required="required">

        <label for="last-name2" class="visually-hidden">Last name</label>
        <input class="sign-up-module__last-name" type="text" name="q" id="last-name2" maxlength="256" placeholder="Last name" autocomplete="off" aria-required="true" required="required">
        <button aria-label="Sign up" class="sign-up-module__submit" type="button">
          Sign up
        </button>
      </div>
      <div class="sign-up-module__step3">
        <p>Thanks for signing up.</p>
      </div>
    </div>
  </form>
</div>