<a aria-controls="tat" aria-label="Open track &amp; trace" role="button" rel="tat:open" title="Open track &amp; trace" href="#tat" class="btn btn-primary"> 
                            Open track &amp; trace
                        </a>
<!-- tool - tat -->
			<tool id="tat" class="tat no-js" name="tat"></tool>

			<!-- tool template - tat -->
			<template id="tat-tpl" class="tat-tpl">
				<!-- tat - step 1 -->
			   	<tool-step id="tat-step--1" class="tat-step tat-step--1">
					
					<!-- form container -->
			   		<section class="form-container" aria-labelledby="tat-step--1_heading">

						<!-- heading -->
			            <h1 class="form-heading">
			            	<i><img src="/etc/designs/startrack_corp/clientlib/img/contact-icon.png" alt=""></i><!--
			             --><span id="tat-step--1_heading">Contact us</span>
			            </h1><!-- heading end -->
						

			            <!-- form -->
			            
			             <form action="${properties.formActionURL}" method="POST" class="form" submit="true" name="contact-enquiry_form " novalidate="true">
                        
							<p class="layout-container-body-copy">
				                   To talk to sales support call 12 24 45 , Monday-Friday 9am-5pm <br/>AEST. You can also find most of the answers in our support section. </p>
			                   <p class="layout-container-body-copy">
									<a href="${properties.faqURL}" class="btn btn-primary">View Support FAQs</a>
								</p>
							<!-- fieldset - consignment -->
			            	<fieldset class="form-group bg-colour--mid-tan" aria-labelledby="tat-step--1_label-consignment" aria-describedby="tat-step--1_desc-consignment">
								
								<div class="field">
	                                <label class="field-label" for="first-name">First Name</label>
	                               <input class="field-input input-text medium" type="text" id="first-name" name="first-name" placeholder="First Name" required="true" >
	                                <span class="error-message"> Requires valid input</span>
	                            </div>
	                            <div class="field">
	                                <label class="field-label" for="last-name">Last Name</label>
	                                <input class="field-input input-text medium" type="text" id="last-name" name="last-name" placeholder="Last Name" required="true" >
	                                <span  class="error-message"> Requires valid input </span>
	                            </div>
	                            <div class="field">
	                                <label class="field-label" for="position">Position/Title</label>
	                                <input class="field-input input-text medium" type="text" id="position" name="position" placeholder="Position/Title" >
	                            </div>
	                            <div class="field">
	                                <label class="field-label" for="company">Company Name</label>
	                                <input class="field-input input-text medium" type="text" id="company" name="company" placeholder="Company Name" >
	                            </div>
			                    <div class="field">
	                                <label class="field-label" for="select-01">Please contact me via  </label>
		                                <div class="field-select medium">
		                                    <select id="select-01" name="select-01">
		                                        <option value="1" id="email">Email</option>
		                                        <option value="2" id="phone">Phone</option>
		                                    </select>
		                                </div>
	                            </div>
			                    <div class="field">
	                                <label class="field-label" for="email">Email</label>
	                                <input class="field-input input-text medium" type="email" id="email" name="email" placeholder="Email" required="true" validate="email">
	                                <span  class="error-message"> Email invalid input </span>
	                            </div>
	                            <div class="field">
	                                <label class="field-label" for="phone">Phone</label>
	                                <input class="field-input input-text medium" type="text" id="phone" name="phone" placeholder="phone" required="true" validate="phone">
	                                <span  class="error-message"> Phone invalid input </span>
	                            </div>
			                    	
			                    <!-- field - not robot -->
								<div class="field" aria-labelledby="tat_not-robot_label">
									<label id="tat_not-robot_label" class="field-label hidden"> I am not a robot </label>
									
									<!-- field - not robot - captcha -->
				                    <div class="field-checkbox" aria-labelledby="tat_not-robot--captcha_label">
			                            <input id="tat_not-robot--captcha" name="isNotRobot" type="checkbox" value="true" required="true">
				                        <label id="tat_not-robot--captcha_label" for="tat_not-robot--captcha"> I am not a robot </label>
				                        <span id="tat_not-robot--captcha_error" for="tat_not-robot--captcha" class="error-message"> Please confirm that you are not a robot </span>
			                        </div>
								</div><!-- field end -->

			            
							
							<!-- fieldset - submit -->
			                <fieldset class="form-group text-center " 
			                	aria-labelledby="tat-step--1_label-btn" 
			                	aria-describedby="tat-step--1_desc-btn">
								<!-- submit -->
			                    <button class="btn btn-primary" role="button" title="Track now" rel="tool:next"
			                    	aria-label="Track now" aria-controls="tat-step--result" custom="true" required="true"> 
			                    	send enquiry
			                    </button>
			                </fieldset><!-- fieldset - submit end -->
			            </form><!-- form end -->

			        </section><!-- form container end -->
                    <section class="tool-help">
				 <form class="form">
                        <!-- Need Help Start -->
                        <!-- add after the last fieldset containing the submit button-->
                        <fieldset class="form-group no-legend need-help bg-colour--mid-tan">
                            <h3 class="need-help-title">Need Help?</h3>
                            <section class="need-help-body">
                                <ul class="need-help-list">                                
                                    <sly data-sly-use.needhelp="${'au.com.auspost.startrack_corp.core.components.Carousel'}">
                                        <sly data-sly-list.item="${needHelp.items}">
                                            <li><a href="${item.finalPath}" target="_blank">${item.title}</a></li>
                                        </sly>
                                    </sly>                                   
                                </ul>
                      			<a data-sly-test="${properties.needHelpURL1 != null && properties.needHelpURL1 != ''}"  href="${properties.needHelpURL1}" target="_blank">${properties.needHelpText1}</a>
                                <a data-sly-test="${properties.needHelpURL2 != null && properties.needHelpURL2 != ''}"  href="${properties.needHelpURL2}" target="_blank">${properties.needHelpText2}</a> 
                                             
                            </section>
                        </fieldset>
                        <!-- Need Help End -->
          </form>
		</section><!-- tool help end -->

			   	</tool-step><!-- tat - step 1 end -->
				
			</template>