<!--/*
    
    CREDITS
    -------------------------
    Created by: VML Solutions 
    
    REQUIREMENTS
    -------------------------
    
    
*/-->


<small data-sly-test="${wcmmode.edit &&  properties.target}" style="line-height:44px;"></small>

	
	

<div class="video-player" data-sly-test="{properties.target}">	
<iframe src="${properties.target @ context='unsafe'}" height="${properties.height}" width="100%" frameborder="0" 
style="${'height:{0}px!important'@format=properties.height, context='unsafe'}"></iframe>
     
</div>


