<div data-sly-use.inlineEdit="${'au.com.auspost.startrack_global.core.sightly.InlineEditNodeGenerator'@ paramNodeType='startrack_global/components/rte-components/text-heading',nodeToBeCreated='textHeading'}" data-sly-unwrap></div>
<div data-sly-use.inlineEdit="${'au.com.auspost.startrack_global.core.sightly.InlineEditNodeGenerator'@ paramNodeType='startrack_global/components/rte-components/text-body',nodeToBeCreated='textBody'}" data-sly-unwrap></div>
<div data-sly-use.inlineEdit="${'au.com.auspost.startrack_global.core.sightly.InlineEditNodeGenerator'@ paramNodeType='startrack_global/components/rte-components/text-body',nodeToBeCreated='textBody2'}" data-sly-unwrap></div>

<!-- Here data-sly-unwrap is removed in edit/authoring mode as textHeading and textBody rte was wrapping div across which breaks
    lyt-container component authoring dialog -->

<sly data-sly-test="${(wcmmode.edit || wcmInit.isTouchAuthoring)}">
    <div>Author Hint: Edit Layout Container here. This layout container allows you to configure the background colour, layout variation and alignment.</div>
    <div data-sly-use.colorMap="${'au.com.auspost.startrack_corp.core.sightly.StartrackColorMappingReader'}" data-sly-unwrap>
            <section class="layout-container bg-colour${colorMap.colorClass} ${properties.containerSize} ${properties.paddingVariations} ${properties.theme}">
                <div class="layout-container-wrapper">
                    <h1 class="layout-container-heading"><div data-sly-resource="${'textHeading' @ resourceType='startrack_global/components/rte-components/text-heading'}"></div></h1>
                     <p class="layout-container-body-copy"><div data-sly-resource="${'textBody' @ resourceType='startrack_global/components/rte-components/text-body'}"></div></p>
                    <div>Author Hint: Place required components here. Remember the layout can be changed in the container dialog options.</div>
                     <div class="flex-container ${properties.layoutvariation} ${properties.containerJustification}">
                         <sly data-sly-resource="${'layoutContainerParsys' @ resourceType='startrack_corp/components/parsys'}"></sly>
                    </div>
                    <sly data-sly-test="${properties.showCta == 'true'}">
					    <!--Retrieve and iterate the ctaTypeConfigs-->
					    <sly data-sly-use.linkListUtils="${'au.com.auspost.startrack_global.core.sightly.MultiFieldIterator' @ property='ctaTypeConfig'}"
					         data-sly-unwrap>
					        <!--Assign the unique formatted node path via au.com.auspost.startrack_global.core.sightly.Analytics for cta id-->
					        <sly data-sly-use.cta="${'au.com.auspost.startrack_global.core.sightly.Analytics' @ currentNodePath=currentNode.path}">
						        <sly data-sly-list="${linkListUtils.linkListItems}">
						            <div class="${properties.containerType} text-center">
										<sly data-sly-use.pathbrowser="${'au.com.auspost.startrack_global.core.sightly.PathBrowser' @ paramURL=item.ctaURL, ctaParams=item.ctaParams}">
											<a href="${pathbrowser.formattedURL}" target="${item.openInNewTab == 'true'?'_blank':''}"  class="${item.ctaType} ${item.ctaType}-${item.ctaStyle}"
											   id="${cta.formattedNodePath}" title="${item.ctaTypeText}" data-event="site interaction"
											   data-category="cta" data-description="${item.ctaTypeText}">${item.ctaTypeText}</a>
										</sly>
						            </div>
						        </sly>
						    </sly>
					    </sly>
					</sly>
                    <p class="layout-container-body-copy layout-container-body-copy--lower"><div data-sly-resource="${'textBody2' @ resourceType='startrack_global/components/rte-components/text-body'}"></div></p>
                </div>
            </section>
    </div>
</sly>

<div data-sly-use.colorMap="${'au.com.auspost.startrack_corp.core.sightly.StartrackColorMappingReader'}" data-sly-unwrap>
    <sly data-sly-test="${!(wcmmode.edit || wcmInit.isTouchAuthoring)}">
	
   		<section class="layout-container bg-colour${colorMap.colorClass} ${properties.containerSize} ${properties.paddingVariations} ${properties.theme}">
            <div class="layout-container-wrapper">
    		<div data-sly-use.rteVal="${'au.com.auspost.startrack_global.core.sightly.StripTagsRTE' @ subNode='textHeading'}" data-sly-unwrap>
    			<div data-sly-test ="${rteVal.rteValue}" data-sly-unwrap>
	            	<h1 class="layout-container-heading"><div data-sly-resource="${'textHeading' @ resourceType='startrack_global/components/rte-components/text-heading'}" data-sly-unwrap></div></h1>
	  			</div>
    		</div>
    		<div data-sly-use.rteVal="${'au.com.auspost.startrack_global.core.sightly.StripTagsRTE' @ subNode='textBody'}" data-sly-unwrap>
    			<div data-sly-test ="${rteVal.rteValue}" data-sly-unwrap>
            		<p class="layout-container-body-copy"><div data-sly-resource="${'textBody' @ resourceType='startrack_global/components/rte-components/text-body'}" data-sly-unwrap></div></p>
    			</div>
    		</div>
            <div class="flex-container ${properties.layoutvariation} ${properties.containerJustification}">
                <sly data-sly-resource="${'layoutContainerParsys' @ resourceType='startrack_corp/components/parsys'}"></sly>
                <p style="display: none;" test="${'{0}' @ format=properties.layoutvariation, context='unsafe'}" data-sly-unwrap></p>
            </div>
            <sly data-sly-test="${properties.showCta == 'true'}">
			    <!--Retrieve and iterate the ctaTypeConfigs-->
			    <sly data-sly-use.linkListUtils="${'au.com.auspost.startrack_global.core.sightly.MultiFieldIterator' @ property='ctaTypeConfig'}"
			         data-sly-unwrap>
			        <!--Assign the unique formatted node path via au.com.auspost.startrack_global.core.sightly.Analytics for cta id-->
			        <sly data-sly-use.cta="${'au.com.auspost.startrack_global.core.sightly.Analytics' @ currentNodePath=currentNode.path}">
				        <sly data-sly-list="${linkListUtils.linkListItems}">
				            <div class="${properties.containerType} text-center">
								<sly data-sly-use.pathbrowser="${'au.com.auspost.startrack_global.core.sightly.PathBrowser' @ paramURL=item.ctaURL, ctaParams=item.ctaParams}">
									<a href="${pathbrowser.formattedURL}" target="${item.openInNewTab == 'true'?'_blank':''}"  class="${item.ctaType} ${item.ctaType}-${item.ctaStyle}"
									   id="${cta.formattedNodePath}" title="${item.ctaTypeText}" data-event="site interaction"
									   data-category="cta" data-description="${item.ctaTypeText}">${item.ctaTypeText}</a>
								</sly>
				            </div>
				        </sly>
				    </sly>
			    </sly>
			</sly>
            <div data-sly-use.rteVal="${'au.com.auspost.startrack_global.core.sightly.StripTagsRTE' @ subNode='textBody2'}" data-sly-unwrap>
                <div data-sly-test ="${rteVal.rteValue}" data-sly-unwrap>
                    <p class="layout-container-body-copy layout-container-body-copy--lower"><div data-sly-resource="${'textBody2' @ resourceType='startrack_global/components/rte-components/text-body'}" data-sly-unwrap></div></p>
                </div>
            </div>
        </div>
    </section>
    </sly>
</div>
