<div data-sly-test="${(wcmmode.edit || wcmInit.isTouchAuthoring) && (!properties.text)}" data-sly-unwrap>
    <div>Author Hint: Edit Hero Component here. This component allows to configure hero component.</div>
</div>

<div data-sly-use.inlineEdit="${'au.com.auspost.global.core.sightly.InlineEditNodeGenerator'@ paramNodeType='global/components/rte-components/text-heading',nodeToBeCreated='hero-heading-text-1'}"
     data-sly-unwrap></div>
<div data-sly-use.inlineEdit="${'au.com.auspost.global.core.sightly.InlineEditNodeGenerator'@ paramNodeType='global/components/rte-components/text-heading',nodeToBeCreated='hero-heading-text-2'}"
     data-sly-unwrap></div>
<div data-sly-use.inlineEdit="${'au.com.auspost.global.core.sightly.InlineEditNodeGenerator'@ paramNodeType='global/components/rte-components/text-body',nodeToBeCreated='hero-body-text'}"
     data-sly-unwrap></div>

<div data-sly-use.inlineEdit="${'au.com.auspost.global.core.sightly.InlineEditNodeGenerator'@ paramNodeType='global/components/adpativeimage',nodeToBeCreated='adaptiveimage'}"
     data-sly-unwrap></div>

<sly data-sly-test="${properties.imageSize != 'large' && properties.imageSize != 'small'}">
<sly data-sly-test="${properties.imagePathRefDesktop == null || properties.imagePathRefMobile == null && (!wcmmode.disabled)}">
    <picture class="hero-img"><img src="/content/dam/global/hero_ph_large.png" alt="Placeholder for Large Hero Image"/></picture>
</sly>
</sly>
<!--large version of hero banner-->
<sly data-sly-test="${properties.imageSize == 'large'}">
    <section data-sly-test="${properties.imagePathRefDesktop != null && properties.imagePathRefMobile != null || (!wcmmode.disabled)}" class="container-hero">
        <div class="hero-container hero--${properties.locationVertical}--${properties.locationHorizontal}">
            <sly data-sly-test="${properties.imagePathRefDesktop == null || properties.imagePathRefMobile == null && (!wcmmode.disabled)}">
                <picture class="hero-img"><img src="/content/dam/global/hero_ph_large.png" alt="Placeholder for Large Hero Image"/></picture>
            </sly>
            <div data-sly-test="${wcmmode.edit}" class="cq-dd-imagePath"></div>
            <div data-sly-test="${properties.imagePathRefDesktop != null && properties.imagePathRefMobile != null}" data-sly-unwrap>
            	<div data-sly-resource="${'adaptiveimage' @ resourceType='global/components/adaptiveimage'}" data-sly-unwrap></div>
            </div>
            <div class="hero-wedge-container" data-sly-test="${properties.showWedge != null && properties.showWedge == 'true'}">
                <div data-sly-use.colorMap="${'au.com.auspost.global.core.sightly.ColorMappingReader'}" data-sly-unwrap>
                    <div class="hero-wedge bg-colour${colorMap.colorClass}">
                        <sly data-sly-test="${(wcmmode.edit || wcmInit.isTouchAuthoring)}">
                            <span class="hero-wedge-heading heading-h2">
                                <div data-sly-resource="${'hero-heading-text-1' @ resourceType='global/components/rte-components/text-heading'}"></div>
                            </span>
                            <span><span class="hero-wedge-heading--coloured"><div data-sly-resource="${'hero-heading-text-2' @ resourceType='global/components/rte-components/text-heading'}"></div></span>
                            </span>
                            <p><div data-sly-resource="${'hero-body-text' @ resourceType='global/components/rte-components/text-body'}"></div></p>
                        </sly>
                        <sly data-sly-test="${!(wcmmode.edit || wcmInit.isTouchAuthoring)}">
                            <span class="hero-wedge-heading heading-h2">
                                <div data-sly-resource="${ 'hero-heading-text-1' @ resourceType='global/components/rte-components/text-heading'}"
                                     data-sly-unwrap></div>
                                <span class="hero-wedge-heading--coloured"><div
                                        data-sly-resource="${ 'hero-heading-text-2' @ resourceType='global/components/rte-components/text-heading'}"
                                        data-sly-unwrap></div></span></span>
                            <p><div data-sly-resource="${'hero-body-text' @ resourceType='global/components/rte-components/text-body'}"
                                 data-sly-unwrap></div></p>
                        </sly>
                            <!-- CTA -->
                            <sly data-sly-test="${properties.showCta == 'true'}">
                                <div data-sly-use.linkListUtils="${'au.com.auspost.global.core.sightly.MultiFieldIterator' @ property='ctaTypeConfig'}" data-sly-unwrap>
                                    <!--Assign the unique formatted node path via au.com.auspost.global.core.sightly.Analytics for cta id-->
                                    <sly data-sly-use.idgen="${'au.com.auspost.global.core.sightly.Analytics' @ currentNodePath=currentNode.path}">
                                        <sly data-sly-use.cta="${'au.com.auspost.global.core.sightly.SiblingAnalytics'@ childNode='hero-heading-text-1',childNodeProperty='text'}">
                                            <sly data-sly-list="${linkListUtils.linkListItems}">
                                                <div class="${properties.containerType}">
                                                    <sly data-sly-use.pathbrowser="${'au.com.auspost.global.core.sightly.PathBrowser' @ paramURL=item.ctaURL, ctaParams=item.ctaParams}">
                                                    <a href="${pathbrowser.formattedURL}" target="${item.openInNewTab == 'true'?'_blank':''}" 
                                                    class="${item.ctaType} ${item.ctaType}-${item.ctaStyle}" id="${idgen.formattedNodePath}" 
                                                    title="${item.ctaTypeText}" data-event="site interaction" data-category="hero|cta|${item.ctaType}|${item.ctaStyle}" 
                                                    data-description="${cta.titleForDataAnalytics}|${item.ctaTypeText}">${item.ctaTypeText}</a>
                                                    </sly>
                                                </div>
                                            </sly>
                                        </sly>
                                    </sly>
                                </div>
                            </sly>

                    </div>
                </div>

            </div>
        </div>
    </section>
</sly>

<!--smaller version of hero banner -->
<sly data-sly-test="${properties.imageSize == 'small'}">

    <section data-sly-test="${properties.imagePathRefDesktop != null && properties.imagePathRefMobile != null || (!wcmmode.disabled)}" class="container-hero">
        <div class="hero-container hero-container--${properties.imageSize} hero--${properties.locationVertical}--${properties.locationHorizontal}">
            <sly data-sly-test="${properties.imagePathRefDesktop == null || properties.imagePathRefMobile == null && (!wcmmode.disabled)}">
                <picture class="hero-img"><img src="/content/dam/global/hero_ph_small.png" alt="Placeholder for Small Hero Image"/></picture>
            </sly>
            <div data-sly-test="${wcmmode.edit}" class="cq-dd-imagePath"></div>
            <div data-sly-test="${properties.imagePathRefDesktop != null && properties.imagePathRefMobile != null}" data-sly-unwrap>
            		<div data-sly-resource="${'adaptiveimage' @ resourceType='global/components/adaptiveimage'}" data-sly-unwrap></div>
            </div>

            <div class="hero-wedge-container" data-sly-test="${properties.showWedge != null && properties.showWedge == 'true'}">
                <div data-sly-use.colorMap="${'au.com.auspost.global.core.sightly.ColorMappingReader'}" data-sly-unwrap>
                    <div class="hero-wedge bg-colour${colorMap.colorClass}">
                        <sly data-sly-test="${(wcmmode.edit || wcmInit.isTouchAuthoring)}">
                            <span class="hero-wedge-heading heading-h2">
                                <div data-sly-resource="${'hero-heading-text-1' @ resourceType='global/components/rte-components/text-heading'}"></div>
                            </span>
                            <span><span class="hero-wedge-heading--coloured"><div
                                    data-sly-resource="${'hero-heading-text-2' @ resourceType='global/components/rte-components/text-heading'}"></div></span>
                            </span>
                            <p><div data-sly-resource="${'hero-body-text' @ resourceType='global/components/rte-components/text-body'}"></div></p>
                        </sly>

                        <sly data-sly-test="${!(wcmmode.edit || wcmInit.isTouchAuthoring)}">
                        	<div data-sly-use.rteVal="${'au.com.auspost.global.core.sightly.StripTagsRTE' @ subNode='hero-heading-text-2,hero-heading-text-1'}" data-sly-unwrap>
    							<div data-sly-test ="${rteVal.rteValue}" data-sly-unwrap>
    								<span class="hero-wedge-heading heading-h2">
                                <div data-sly-resource="${'hero-heading-text-1' @ resourceType='global/components/rte-components/text-heading'}"
                                     data-sly-unwrap></div>
                                <span class="hero-wedge-heading--coloured"><div
                                        data-sly-resource="${'hero-heading-text-2' @ resourceType='global/components/rte-components/text-heading'}"
                                        data-sly-unwrap></div></span>
                                </span>
    							</div>
    						</div>
							<div data-sly-use.rteVal="${'au.com.auspost.global.core.sightly.StripTagsRTE' @ subNode='hero-body-text'}" data-sly-unwrap>
    							<div data-sly-test ="${rteVal.rteValue}" data-sly-unwrap>
    								<p><div data-sly-resource="${'hero-body-text' @ resourceType='global/components/rte-components/text-body'}" data-sly-unwrap></div></p>
    							</div>
    						</div>
                            </sly>
                            <!-- CTA -->
                            <sly data-sly-test="${properties.showCta == 'true'}">
                                <sly data-sly-use.linkListUtils="${'au.com.auspost.global.core.sightly.MultiFieldIterator' @ property='ctaTypeConfig'}">
                                    <!--Assign the unique formatted node path via au.com.auspost.global.core.sightly.Analytics for cta id-->
                                    <sly data-sly-use.idgen="${'au.com.auspost.global.core.sightly.Analytics' @ currentNodePath=currentNode.path}">
                                        <sly data-sly-use.cta="${'au.com.auspost.global.core.sightly.SiblingAnalytics'@ childNode='hero-heading-text-1',childNodeProperty='text'}">
                                            <sly data-sly-list="${linkListUtils.linkListItems}">
                                                <div class="${properties.containerType}">
                                                    <sly data-sly-use.pathbrowser="${'au.com.auspost.global.core.sightly.PathBrowser' @ paramURL=item.ctaURL, ctaParams=item.ctaParams}">
                                                    <a href="${pathbrowser.formattedURL}" target="${item.openInNewTab == 'true'?'_blank':''}" 
                                                    class="${item.ctaType} ${item.ctaType}-${item.ctaStyle}" id="${idgen.formattedNodePath}" title="${item.ctaTypeText}" 
                                                    data-event="site interaction" data-category="hero|cta|${item.ctaType}|${item.ctaStyle}" 
                                                    data-description="${cta.titleForDataAnalytics}|${item.ctaTypeText}">${item.ctaTypeText}</a>
                                                    </sly>
                                                </div>
                                            </sly>
                                        </sly>
                                    </sly>
                                </sly>
                            </sly>

                    </div>
                </div>

            </div>

        </div>
    </section>
</sly>
